<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>proj1</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginchecker</display-name>
    <servlet-name>loginchecker</servlet-name>
    <servlet-class>loginchecker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginchecker</servlet-name>
    <url-pattern>/loginchecker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee</display-name>
    <servlet-name>employee</servlet-name>
    <servlet-class>employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reimb</display-name>
    <servlet-name>reimb</servlet-name>
    <servlet-class>reimb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimb</servlet-name>
    <url-pattern>/reimb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reimbcreate</display-name>
    <servlet-name>reimbcreate</servlet-name>
    <servlet-class>reimbcreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbcreate</servlet-name>
    <url-pattern>/reimbcreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reimbupdate</display-name>
    <servlet-name>reimbupdate</servlet-name>
    <servlet-class>reimbupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbupdate</servlet-name>
    <url-pattern>/reimbupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reimbupdateD</display-name>
    <servlet-name>reimbupdateD</servlet-name>
    <servlet-class>reimbupdateD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reimbupdateD</servlet-name>
    <url-pattern>/reimbupdateD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>